
{% capture dname %}{{ namespace | downcase }}{% endcapture %}
{% capture dkey %}{{ key | downcase }}{% endcapture %}
{{ dname }}
{{ dkey }}
{{ product.metafields.dname.dkey }}
{% unless product.metafields.dname.dkey == empty %}
    <a href="{{ product.metafields.dname.dkey }}" download>
        <span>{{ link_text }}</span>
    </a>
{% endunless %}