
{% capture dname %}{{ namespace | downcase }}{% endcapture %}
{% capture dkey %}{{ key | downcase }}{% endcapture %}
{{ dname }}
{{ dkey }}
{{ product.metafields.['{{ dname | downcase }}'].['{{ dkey | downcase }}'] }}
{{ product.title }}
{% unless product.metafields.product_data.dkey == empty %}
    <a href="{{ product.metafields.product_data.dkey }}" download>
        <span>{{ link_text }}</span>
    </a>
{% endunless %}