{% assign prevIndex = forloop.index0 | minus: 1 %}
{% assign nextIndex = forloop.index0 | plus: 1 %}
{% if forloop.first or section.blocks[prevIndex].type != 'accordion' %}
    <div class="accordion rte product--accordion product__block product__block--small">
{% endif %}
<div
    class="accordion__group"
    data-index="{{ forloop.index0 }}"
    data-open="{% if style == 'open' %}true{% else %}false{% endif %}"
    {{ shopifyAttributes }}
>
    <a class="accordion__label" href="#">
        {% unless merke == true %}
            {{ heading }}
        {% else %}
            {{ product.vendor }}
        {% endunless%}
    </a>
    <div class="accordion__text fs-body-small">
        {% unless merke == true %}
            {% case heading %}
                {% when 'Dimensjoner' %}
                {% when 'Materiale' %}
                {% else %}
                    {{ content }}
            {% endcase %}
        {% else %}
            {% assign vendorHandle = product.vendor | handleize %}
            <span>{{ vendorHandle }}</span>
            <span>{{ blog_data.title }}</span>
            {% for article in blog_data.articles %}
                {% assign handle-check = blog_data.title | downcase | append: "/" | append: vendorHandle %}
                <span>{{ handle-check }}</span>
                
                {% if handle-check == article.handle %}
                    {{ article.content }}
                {% endif %}
            {% endfor%}
        {% endunless %}
    </div>
</div>
{% if forloop.first or section.blocks[prevIndex].type != 'accordion' %}
</div>
{% endif %}