<!doctype html>

<!--
      ___                       ___           ___           ___
     /  /\                     /__/\         /  /\         /  /\
    /  /:/_                    \  \:\       /  /:/        /  /::\
   /  /:/ /\  ___     ___       \  \:\     /  /:/        /  /:/\:\
  /  /:/ /:/ /__/\   /  /\  ___  \  \:\   /  /:/  ___   /  /:/  \:\
 /__/:/ /:/  \  \:\ /  /:/ /__/\  \__\:\ /__/:/  /  /\ /__/:/ \__\:\
 \  \:\/:/    \  \:\  /:/  \  \:\ /  /:/ \  \:\ /  /:/ \  \:\ /  /:/
  \  \::/      \  \:\/:/    \  \:\  /:/   \  \:\  /:/   \  \:\  /:/
   \  \:\       \  \::/      \  \:\/:/     \  \:\/:/     \  \:\/:/
    \  \:\       \__\/        \  \::/       \  \::/       \  \::/
     \__\/                     \__\/         \__\/         \__\/

--------------------------------------------------------------------
#  Ira v4.2.0
#  Documentation: https://fluorescent.co/help/ira/
#  Purchase: https://themes.shopify.com/themes/ira/
#  A product by Fluorescent: https://fluorescent.co/
--------------------------------------------------------------------

-->

<html class="no-js" lang="{{ request.locale.iso_code }}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {%- capture seo_title -%}
    {%- if request.page_type == 'search' and search.performed == true -%}
    {{ 'search.heading' | t: count: search.results_count }}: {{ 'search.results_with_count' | t: terms: search.terms,
    count: search.results_count }}
    {%- else -%}
    {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
    {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
    &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
    &ndash; {{ shop.name }}
    {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>

    {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {% render 'social-meta-tags' %}

    {% render 'theme-setup' %}
    {% render 'theme-setting-vars' %}
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {{ 'sixbond-custom.css' | asset_url | stylesheet_tag }}
    {{ 'clerk_global.css' | | asset_url | | stylesheet_tag }}

    <!-- SixBondStreet CUSTOM -->
    {% assign tempName = template.name %}
    {% case tempName %}
      {% when 'product' %}
        {{ 'product-page.css' | asset_url | stylesheet_tag }}
        {{ 'clerk_product.css' | asset_url | stylesheet_tag }}
        <script src="https://js.charpstar.net/sbs/charpstar-AR-sbs.js"></script>
      {% when 'index' %}
        {{ 'index.scss.css' | asset_url | stylesheet_tag }}
        {{ 'clerk_index.css' | | asset_url | stylesheet_tag }}
      {% when 'collection' %}
        {{ 'sxbs-collection.css' | asset_url | stylesheet_tag }}
        {{ 'clerk_collection.css' | asset_url | | stylesheet_tag }}
      {% when 'search' %}
        {{ 'clerk_search.css' | asset_url | stylesheet_tag }}
      {% when 'cart' %}
        {{ 'clerk_cart.css' | asset_url | | stylesheet_tag }}
    {% endcase %}
    <!-- END SixBondStreet CUSTOM  -->
    <script src="https://www.googleoptimize.com/optimize.js?id=GTM-5GWX954"></script>
    
    {{ content_for_header }}
  <!-- Start of Clerk.io E-commerce Personalisation tool - www.clerk.io -->
  <script type="text/javascript">
    (function(w,d){
      var e=d.createElement('script');e.type='text/javascript';e.async=true;
      e.src=(d.location.protocol=='https:'?'https':'http')+'://cdn.clerk.io/clerk.js';
      var s=d.getElementsByTagName('script')[0];s.parentNode.insertBefore(e,s);
      w.__clerk_q=w.__clerk_q||[];w.Clerk=w.Clerk||function(){w.__clerk_q.push(arguments)};
    })(window,document);

    Clerk('config', {
      key: 'OZLV8JPBfFyDcsotFN0rcxcIm7a9vydn',
      formatters: {
        currency_converter: function(price) {
          var converted_price = (price*Shopify.currency.rate);
          return (converted_price).toString();
        }
      },
      globals: {
        currency_iso: "{{ cart.currency.iso_code }}",
        currency_symbol: "{{ cart.currency.symbol }}"
      }
    });
  </script>
  <!-- End of Clerk.io E-commerce Personalisation tool - www.clerk.io -->
<!-- Start of Sleeknote signup and lead generation tool - www.sleeknote.com -->
<script id="sleeknoteScript" type="text/javascript">
	(function () {
		var sleeknoteScriptTag = document.createElement("script");
		sleeknoteScriptTag.type = "text/javascript";
		sleeknoteScriptTag.charset = "utf-8";
		sleeknoteScriptTag.src = ("//sleeknotecustomerscripts.sleeknote.com/21977.js");
		var s = document.getElementById("sleeknoteScript");
		s.parentNode.insertBefore(sleeknoteScriptTag, s);
	})();
</script>
<!-- End of Sleeknote signup and lead generation tool - www.sleeknote.com --><!--Gem_Page_Header_Script-->
  {% render 'gem-app-header-scripts' %}
  <!--End_Gem_Page_Header_Script-->
  <!-- UET Tag for Microsoft Ads -->
  <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"343039460", enableAutoSpaTracking: true};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
  <!-- End UET Tag for Microsft Ads -->
  </head>

  <body class="
    template-{{ request.page_type | handle }}
    {% if settings.enable_section_borders %}show-borders{% endif %}
  " {% if settings.cart_enable_ajax %} data-enable-cart-ajax="true" {% endif %}>
    <div class="page">
      <div class="theme-editor-scroll-offset"></div>

      <div class="header__space" data-header-space></div>
      {% section 'announcement-bar' %}
      {% section 'header' %}
      <main id="main" role='main' class="main">
        {{ content_for_layout }}
      </main>
      {% section 'popup' %}
      {% section 'extended-footer' %}
      {% section 'footer' %}
      {% render 'store-availability-modal' %}

      {% if settings.enable_page_transitions %}
      <div class="active" id="page-transition-overlay"></div>
      <script>
        var pageTransitionOverlay = document.getElementById("page-transition-overlay"),
          internalReferrer = document.referrer.includes(document.location.origin),
          winPerf = window.performance,
          navTypeLegacy = winPerf && winPerf.navigation && winPerf.navigation.type,
          navType = winPerf && winPerf.getEntriesByType && winPerf.getEntriesByType("navigation")[0] && winPerf.getEntriesByType("navigation")[0].type;

        if (!internalReferrer || navType !== "navigate" || navTypeLegacy !== 0) {
          {% comment %} 
          goal is to avoid transitioning if it isn't a navigation throughout the site to improve performance 
          {% endcomment %}
          pageTransitionOverlay.className = "active skip-animation";
          setTimeout(function () {
            pageTransitionOverlay.className = "skip-animation";
            setTimeout(function () { pageTransitionOverlay.className = ""; }, 1);
          }, 1);
        } else {
          {% comment %} fallback if app js breaks {% endcomment %}
          setTimeout(function () {
            pageTransitionOverlay.className = "";
          }, 500);
        }
      </script>
      {% endif %}
    </div>

    {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}

    {% comment %}
    Set the following line to true to use the single theme.classic.js (no code-splitting, editable)
    {% endcomment %}
    {% assign useLegacyThemeJS = true %}

    {% if useLegacyThemeJS %}
    {% comment %}This is the classic monolithic build that is optionally used by intermediary theme devs who need to
    edit the JS{% endcomment %}
    <script src="{{ 'theme.classic.js' | asset_url }}"></script>
    {% else %}
    {% comment %}This is the ES Module for modern browsers. This features code splitting {% endcomment %}
    <script type="module" src="{{ 'theme.js' | asset_url }}"></script>

    {% comment %}This is the fallback for browsers that don't support ES Modules, code-splitting is supported by
    systemJS{% endcomment %}
    <script nomodule src="{{ 's.js' | asset_url }}"></script>
    <script nomodule>
      System.import('{{ 'theme.nomodule.js' | asset_url }}');
    </script>
    {% endif %}

    {% comment %}
    Set the following line to true to import custom-events.js
    {% endcomment %}
    {% assign useCustomEvents = false %}

    {% if useCustomEvents %}
    <script src="{{ 'custom-events.js' | asset_url }}"></script>
    {% endif %} 
    <!--Gem_Page_Footer_Script-->
    {% render 'gem-app-footer-scripts', GEM_FOOTER_SCRIPT: GEM_FOOTER_SCRIPT %}
    <!--End_Gem_Page_Footer_Script-->
    {% render 'liveagent-chatbubble' %}
    {% comment %} Clerk.io instant search code {% endcomment %}
    <span 
      class="clerk" 
      data-template="@live-search"
      data-instant-search-suggestions="6"
      data-instant-search-categories="6"
      data-instant-search-pages="6" 
      data-instant-search='.quick-search__input, .drawer-menu__search-input'
      data-instant-search-positioning='center'>
    </span>
    {% comment %} End of Clerk.io instant search code {% endcomment %}
  </body>

</html>
