{% liquid
  assign show_vendor = section.settings.show_vendor
  assign media_layout = section.settings.media_layout
  assign full_width = section.settings.enable_full_width
  assign current_variant = product.selected_or_first_available_variant
  assign enable_image_zoom = section.settings.enable_image_zoom
  assign compare_at_price = current_variant.compare_at_price
  assign price = current_variant.price
  assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media
  assign first_3d_model = product.media | where: "media_type", "model" | first
  assign enable_video_looping = section.settings.enable_video_looping
  assign blog-vedlikehold = blogs[section.settings.vedlikehold]
  assign blog-merke = blogs[section.settings.merke]
  assign vendorHandle = product.vendor | handle

  assign kolli = product.metafields.product_data.antall_kolli

  assign dimensjoner = "Sittedybde" | append: ":" | append: product.metafields.product_data.sittedybde | append: "," | append: "Sittehøyde" | append: ":" | append: product.metafields.product_data.sittehoyde | append: "," | append: "Armlene" | append: ":" | append: product.metafields.product_data.hoyde_armlene | append: "," | append: "Diameter" | append: ":" | append: product.metafields.product_data.diameter | append: "," | append: "Bredde" | append: ":" | append: product.metafields.product_data.produktbredde | append: "," | append: "Dybde" | append: ":" | append: product.metafields.product_data.produktdybde | append: "," | append: "Lengde" | append: ":" | append: product.metafields.product_data.produktlengde | append: "," | append: "Høyde" | append: ":" | append: product.metafields.product_data.sittehoyde | append: "," | append: "Vekt" | append: ":" | append: product.metafields.product_data.produktvekt | split: ","

  for tag in product.tags
	for article in blog-vedlikehold.articles
		assign handle-check = blog-vedlikehold.title | downcase | append: "/" | append: tag
		if handle-check == article.handle
			assign materiale = tag
		endif
	endfor
  endfor	
%}

<section
  class="
    product
    s-inline-template
    {% if full_width %}full-width{% endif %}
  "
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-product-has-only-default-variant="{{ product.has_only_default_variant }}"
>

  <div class="product__content">
    <div class="product__media-container mobile-only">
      <div class="product__media product__media--{{ media_layout }}" data-slider>
	    {%- for media in product.media -%}
	      <div class="product__media-item {% if media.id == featured_media.id %}initial{% endif %}" data-slide>
		    {% render 'media', media: media, featured_media: featured_media, loop_video: enable_video_looping  %}
	      </div>
	    {%- endfor -%}

	    {%- if product.media.size > 1 -%}
	      {% render 'carousel-pagination' %}
	    {%- endif -%}
      </div>

      <noscript>
	    {% capture product_image_size %}{{ height }}x{% endcapture %}
	    <img src="{{ featured_media | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_media.alt }}" id="FeaturedMedia-{{ section.id }}" class="product-featured-media" style="max-width: {{ height }}px;">
      </noscript>

      {%- if first_3d_model -%}
	    <button
	      aria-label="{{ 'products.product.view_in_space_label' | t }}"
	      class="product__view-in-space btn btn--full"
	      data-in-your-space
	      data-shopify-xr
	      data-shopify-model3d-id="{{ first_3d_model.id }}"
	      data-shopify-title="{{ product.title | escape }}"
	      data-shopify-xr-hidden
	    >
	      <span>
		    {% render 'icon' with icon: '3d' %}
		    <span class='product-single__view-in-space-text'>{{ 'products.product.view_in_space' | t }}</span>
	      </span>
	    </button>
      {%- endif -%}
    </div>
    <div class="product__media-container desktop-only">
      <div class="product__media product__media--{{ media_layout }}" data-slider>
	
	
	    {% for i in (0..2) %}
		    <div class="product__media-item {% if product.media[i].id == featured_media.id %}initial{% endif %}" data-slide>
			    {% render 'media', media: product.media[i], featured_media: featured_media, loop_video: enable_video_looping  %}
		    </div>
	    {% endfor %}

	    {%- if product.media.size > 1 -%}
	      {% render 'carousel-pagination' %}
	    {%- endif -%}
      </div>

      <noscript>
	    {% capture product_image_size %}{{ height }}x{% endcapture %}
	    <img src="{{ featured_media | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_media.alt }}" id="FeaturedMedia-{{ section.id }}" class="product-featured-media" style="max-width: {{ height }}px;">
      </noscript>

      {%- if first_3d_model -%}
	    <button
	      aria-label="{{ 'products.product.view_in_space_label' | t }}"
	      class="product__view-in-space btn btn--full"
	      data-in-your-space
	      data-shopify-xr
	      data-shopify-model3d-id="{{ first_3d_model.id }}"
	      data-shopify-title="{{ product.title | escape }}"
	      data-shopify-xr-hidden
	    >
	      <span>
		    {% render 'icon' with icon: '3d' %}
		    <span class='product-single__view-in-space-text'>{{ 'products.product.view_in_space' | t }}</span>
	      </span>
	    </button>
      {%- endif -%}
    </div>

    <div class="product__details grid__item grid__item--one-third">
      <div class="product-single__meta {{ product.metafields.product_data.leveringstid }}">

        {%- if show_vendor -%}
			<!-- SixBondStreet CUSTOM -->
			{%- if collections[vendorHandle].products.size > 0 -%}
			    <a href="{{ collections[vendorHandle].url }}">
			    <div class="product__vendor ff-meta fs-meta c-meta">{{ product.vendor }}</div>
			    </a>
			{%- else -%}
			    <div class="product__vendor ff-meta fs-meta c-meta">{{ product.vendor | link_to_vendor }}</div>
			{%- endif -%}
			<!-- END SixBondStreet CUSTOM -->
			<!-- <div class="product__vendor ff-meta fs-meta c-meta">{{ product.vendor }}</div> -->
		{%- endif -%}

        <h1 class="product-single__title ff-heading fs-heading-base c-heading">{{ product.title }}</h1>

        <div class="product__price fs-body-base">
			{% comment %} CUSTOM SixBondStreet - Henrik {% endcomment %}
			{% if current_variant.compare_at_price > current_variant.price %}
				<span data-price class="sxbs-on-sale">{{ current_variant.price | money }}</span>
			{% else %}
				<span data-price>{{ current_variant.price | money }}</span>
			{% endif %}
			{% comment %} END CUSTOM SixBondStreet - Henrik {% endcomment %}

          <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
          <s data-compare-price>
            {% if current_variant.compare_at_price > current_variant.price %}
              {{ current_variant.compare_at_price | money }}
            {% endif %}
          </s>
    
 {% comment %} end E2S span {% endcomment %}
 
            <p>
                {% assign instockorb= '<div class="in_stock__variant_orb"><div class="in_stock__variant_orb_inner"></div></div>'   %}
          
          
               {% if current_variant.inventory_quantity > 0 %}
          {{instockorb}}
           
          <div class="trigger_orb" style="display:none">
            {{instockorb}}  </div>
              <span class="variant-inventory">{{ current_variant.inventory_quantity }} på lager.</span></p> {% endif %}
          {% if variant.options > 1 %}
              <div class="stock-availability ">
          	{% if current_variant.available == true %}
          		{% if current_variant.inventory_quantity > 0 %}
          			<span data-stock-availability>{{ current_variant.inventory_quantity }} på lager.</span>
          		{% else %}
                
          			<span data-stock-availability > <div class="out_stock__variant_orb">
			<div class="out_stock__variant_orb_inner "></div>
		</div>{%if product.metafields.product_data.leveringstid == blank %} {%else %} Leveringstid: {{ current_variant.metafields.product_data.leveringstid }}	{% endif %}</span>
          		{% endif %}
          	{% else %}
          		<span data-stock-availability>{% comment %}Utsolgt{% endcomment %}</span>
            	{% endif %}
            {% else %}
        	{% if current_variant.available == false %}
            <span data-stock-availability> <div class="out_stock__variant_orb">
			<div class="out_stock__variant_orb_inner"></div>
		</div> {% unless product.metafields.product_data.leveringstid == blank %}Leveringstid: {{ product.metafields.product_data.leveringstid }}{% endunless %}</span>
            	{% endif %}  
               </div>    
          	{% endif %}         
          
       
 
          {% comment %}<!-- Custom Stock Display for Product - Henrik -->
		<div class="stock-availability">
		{% if variant.options > 1 %}
          	{% if current_variant.available == true %}
          		{% if current_variant.inventory_quantity > 0 %}
          			<span data-stock-availability>{{ current_variant.inventory_quantity }} på lager.</span>
          		{% else %}
          			<span data-stock-availability>Leveringstid: {{ current_variant.metafields.product_data.leveringstid }}</span>
          		{% endif %}
          	{% else %}
          		<span data-stock-availability>Utsolgt</span>
          	{% endif %}          	
		{% else %}
		<span data-stock-availability>Leveringstid: {{ product.metafields.product_data.leveringstid }}</span>
          	{% if current_variant.available == true %}
          		{% if product.variants.first.inventory_quantity > 0 %}
          			<span data-stock-availability>{{ product.variants.first.inventory_quantity }} på lager.</span>
          		{% else %}
          			<span data-stock-availability > <div class="out_stock__variant_orb">
			<div class="out_stock__variant_orb_inner"></div>
		</div> Leveringstid: {{ product.metafields.product_data.leveringstid }}</span>
          		{% endif %}
            {% else %}
            	<span data-stock-availability>Utsolgt</span>
            {% endif %}
		{% endif %}
		</div>
        <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
  			{% for variant in product.variants %}
    		{% if variant.available %}
      	<option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
        	{{ variant.title }}
      	</option>
    	{% else %}
      	<option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
    	{% endif %}
  		{% endfor %}
  		</select>
        <!-- End of custom stock display - Henrik -->{% endcomment %}

          {% comment %} SixBondStreet CUSTOM - Henrik {% endcomment %}
			{%  if product.variants.size >  1 %}
        
				{% if current_variant.available == true %}
        
        
        
					{% if current_variant.inventory_quantity > 0 %}
						<span data-stock-availability>{{ current_variant.inventory_quantity }} på lager.</span>
					{% else %}
						<span data-stock-availability>Leveringstid: {{ current_variant.metafields.product_data.leveringstid }}</span>
					{% endif %}
        
        
        
        
				{% else %}
        
        
        
					<span data-stock-availability>Utsolgt</span>
        
        
				{% endif %}        
        
        
			{% else %} <!--variant.options -->
     
				{% if current_variant.available == true %}
					{% if product.variants.first.inventory_quantity > 0 %}
		 <p ><span class="variant-inventory">	 {% comment %} 		
            {% if current_variant.inventory_quantity > 0 %}
            <div class="in_stock__variant_orb">
			<div class="in_stock__variant_orb_inner"></div>
		</div>     {% endif %}
            
            {{ current_variant.inventory_quantity }} på lager.	 {% endcomment %} </p>
					{% else %}
						<span data-stock-availability class="dom-message"> <div class="out_stock__variant_orb">
			<div class="out_stock__variant_orb_inner "></div>
		</div>
                          Leveringstid {{product.variants.size}}: <span>
                          
                           {{ current_variant.metafields.product_data.leveringstid }}
                          
                          {% if variant.metafields.product_data.leveringstid %}
                          {%else %}
                          
                          
                          {{product.metafields.product_data.leveringstid }}
                          	{% endif %}
                          
                          </span></span>
					{% endif %}
				{% else %}
					<span data-stock-availability>{% comment %}Evt. kommentar- ikke på lager e.l. {% endcomment %}</span>
				{% endif %}
			{% endif %}
			<select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
				{% for variant in product.variants %}
				{% if variant.available %}
			<option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
				{{ variant.title }}
			</option>
			{% else %}
			<option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
			{% endif %}
			{% endfor %}
			</select>
        {% comment %} End SixBondStreet CUSTOM - Henrik {% endcomment %}
        
          {% render 'unit-price' item: current_variant %}
          {% render 'stock-qty' item: current_variant %}
        </div>

        {% render 'product-form' with
          product: product,
          current_variant: current_variant,
          show_quantity: section.settings.show_quantity_input,
          show_dynamic_checkout: section.settings.enable_payment_button,
          show_swatches: section.settings.show_swatches,
        %}
      </div>

      {%- comment -%}
        Live region for announcing updated price and availability to screen readers
      {%- endcomment -%}
      <p class="visually-hidden" data-product-status
        aria-live="polite"
        role="status"
      ></p>

      {%- comment -%}
        Live region for announcing that the product form has been submitted and the
        product is in the process being added to the cart
      {%- endcomment -%}
      <p class="visually-hidden" data-loader-status
        aria-live="assertive"
        role="alert"
        aria-hidden="true"
      >{{ 'products.product.loader_label' | t }}</p>
      {% assign truncated_description = product.description | strip_html | truncatewords: 25 %}
      {% if truncated_description contains '...' %}
        <div class="product-single__description rte rte--product fs-body-base" data-description><p>{{ truncated_description }}</p><a href="#description">Les mer</a></div>
      {% else %}
        <div class="product-single__description rte rte--product fs-body-base" data-description>{{ product.description }}</div>
      {% endif %}
      {% if dimensjoner.size > 0 %}
        <div class="product-single__dimensions">
            <button class="collapsible-button">Dimensjoner</button>
            <div class="collapsible__list">
                <ul>
                    {% for dimensjon in dimensjoner %}
                        {% assign dim_i = 0 %}
                        {% assign values_dim = dimensjon | split: ":" %}
                        {% unless values_dim[1] == blank %}
                        {% if values_dim[0] == "Vekt" %}
                            {% assign dim_trail = "kg" %}
                        {% else %}
                            {% assign dim_trail = "cm" %}
                        {% endif %}
                            <li>
                            {% for value_dim in values_dim %}
                                {% if dim_i == 0 %}
                                    <strong>{{ value_dim }}: </strong>
                                {% else %}
                                    {{ value_dim }} {{ dim_trail }}
                                {% endif %}
                                {% assign dim_i = dim_i | plus: 1 %}
                            {% endfor %}
                            </li>
                        {% endunless %}
                    {% endfor %}
                </ul>
            </div>
            {% if materiale %}
                 <button class="collapsible-button">Materiale</button>
                 <div class="collapsible__list">
                    <div>
                        <p>Materiale: {{ materiale | capitalize }}</p>
                        <a href="#vedlikehold">Les om vedlikehold her</a>
                    </div>
                </div>
            {% endif %}
        </div>
      {% endif %}
      {% if section.settings.show_share_buttons %}
        <div class="product__share" data-share="{{ 'product.share' | t }}">
          {% render 'share-block', share_title: product.title, url: product.url, share_image: product.featured_media %}
        </div>
      {% endif %}
    </div>
  </div>
  {% if product.media.size > 3 %}
        <div class="product__media-container secondary-gallery desktop-only">
          <div class="product__media product__media--{{ media_layout }}" data-slider>
            {% assign i-size = product.media.size %}
	        {% for i in (3..i-size) %}
		    <div class="product__media-item {% if product.media[i].id == featured_media.id %}initial{% endif %}" data-slide>
			    {% render 'media', media: product.media[i], featured_media: featured_media, loop_video: enable_video_looping  %}
		    </div>
	    {% endfor %}

	        {%- if product.media.size > 1 -%}
	          {% render 'carousel-pagination' %}
	        {%- endif -%}
          </div>

          <noscript>
	        {% capture product_image_size %}{{ height }}x{% endcapture %}
	        <img src="{{ featured_media | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_media.alt }}" id="FeaturedMedia-{{ section.id }}" class="product-featured-media" style="max-width: {{ height }}px;">
          </noscript>

          {%- if first_3d_model -%}
	        <button
	          aria-label="{{ 'products.product.view_in_space_label' | t }}"
	          class="product__view-in-space btn btn--full"
	          data-in-your-space
	          data-shopify-xr
	          data-shopify-model3d-id="{{ first_3d_model.id }}"
	          data-shopify-title="{{ product.title | escape }}"
	          data-shopify-xr-hidden
	        >
	          <span>
		        {% render 'icon' with icon: '3d' %}
		        <span class='product-single__view-in-space-text'>{{ 'products.product.view_in_space' | t }}</span>
	          </span>
	        </button>
          {%- endif -%}
        </div>
    {% endif %}
    <div class="product__reviews">
      <div id="shopify-product-reviews" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>
    </div>

  {%- assign images = product.media | where: 'media_type', 'image' -%}
  {% render 'lightbox' with images: images %}
  <section class="description">
    <div class="description__container">
        <div id="description"></div>
        <h2>Beskrivelse</h2>
        {{ product.description }}
    </div>
    {% for tag in product.tags %}
        {% for article in blog-vedlikehold.articles %}
            {% assign handle-check = blog-vedlikehold.title | downcase | append: "/" | append: tag %}
            {% if handle-check == article.handle %}
                <div class="blog-block">
                    <div id="vedlikehold"></div>
                    {% if article.image %}
                        <div class="blog-block__image" style="background: url({{ article.image | img_url: '1200x1200' }}) no-repeat; background-size: cover;"></div>
                    {% endif %}
                    <div class="blog-block__text" {% unless article.image %}style="flex:100%;"{% endunless %}>
                        <h2 class="block-title">{{ article.title }}</h2>
                        {{ article.content }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% for article in blog-merke.articles %}
        {% assign handle-check = blog-merke.title | downcase | append: "/" | append: vendorHandle %}
        {% if handle-check == article.handle %}
            <div class="blog-block">
                <div class="blog-block__image" style="background: url({{ article.image | img_url: '1200x1200' }}) no-repeat; background-size: cover;"></div>
                <div class="blog-block__text">
                    <h2 class="block-title">{{ article.title }}</h1>
                    {{ article.content }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </section>
</section>
<style>
  .color-error{color:red;}
  .color-success{color:green;}
    .in_stock__variant_orb{display:inline-block;vertical-align:middle}
</style>
<script>
  window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)}
  {% assign models = product.media | where: 'media_type', 'model' | json %}
  ShopifyXR('addModels', {{ models }});
</script>
<script src='//cdn.shopify.com/shopifycloud/shopify-xr-js/assets/v1.0/shopify-xr.en.js' defer='defer'></script>
<script>
    var coll = document.getElementsByClassName("collapsible-button");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        } 
      });
    }
</script>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  <script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{% endunless %}

<!-- #E2S Script må med for å vise antall -->
<script>
  var inv_qty = {};
  {% for var in product.variants %}
    inv_qty[{{- var.id -}}] = {{ var.inventory_quantity | default: 0 }};
  {% endfor %}
 </script>
 <!-- Slutt Script -->

{% render 'product_form_tooltip' with
	product: product,
	current_variant: current_variant,
	show_quantity: section.settings.show_quantity_input,
	show_dynamic_checkout: section.settings.enable_payment_button,
	show_swatches: section.settings.show_swatches,
%}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_swatches",
        "label": "Show swatches",
        "info": "Add swatch image files to your store's [files area](/admin/settings/files). Make sure the file names match the names of your color variants. For example, a variant called Blue would need a file called 'blue.png'",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons"
      },
      {
        "type": "checkbox",
        "id": "show_quantity_input",
        "label": "Show quantity input",
        "info": "If quantity inputs are hidden, quantities will default to 1.",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_payment_button",
        "label": "Show dynamic checkout button",
        "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "default": true
      },
      {
        "id": "enable_full_width",
        "type": "checkbox",
        "label": "Enable full width",
        "info": "If enabled this section will span the entire width of the window",
        "default": false
      },
      {
        "type": "header",
        "content": "Media"
      },
      {
        "type": "select",
        "id": "media_layout",
        "label": "Layout",
        "options": [
          { "value": "column", "label": "Column" },
          { "value": "grid", "label": "Grid" }
        ],
        "default": "column"
      },
      {
        "type": "paragraph",
        "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
      },
      {
        "id": "enable_video_looping",
        "type": "checkbox",
        "label": "Enable video looping",
        "default": true
      },
      {
        "id": "vedlikehold",
        "type": "blog",
        "label": "Vedlikehold"
      },
      {
        "id": "merke",
        "type": "blog",
        "label": "Merke",
        "info": "Velg hvilken blog som skal hente info for info om merke."
      }
    ]
  }
{% endschema %}
